﻿@using MySite.Web.Host.Infrastructure.Extensions

@{
    var siteName = "gibson.cx";
    Bundles.Reference("~/Content/Styles");
    Bundles.Reference("~/Content/StylesIE");

    Bundles.Reference("~/lazyload");
    Bundles.Reference("~/Scripts/jQuery-bgposition.js");
    Bundles.Reference("~/Scripts/Shared/_Layout/_Layout.coffee");
    Bundles.Reference("~/Scripts/Shared/banner.coffee");

    Html.AddScriptInitialiser( "shared.Layout", false , false );
    Html.AddScriptInitialiser( "shared.Banner" );
}

<!DOCTYPE html>
<html>

<head>
    <title>@siteName | @ViewBag.Title</title>
    @Bundles.RenderStylesheets()
    <link rel="SHORTCUT ICON" href="~/Content/favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    
    @Html.Partial( "_GoogleTracking" )
</head>

<body>

    <div id="wrap">

        <div id="masthead">

            <div id="masthead-inner">

                <div id="logindisplay">
                    <a href="#" id="animations-toggle" class="no-ajax desktopOnly">Toggle animations</a>
                    <span class="desktopOnly">|</span>
                </div>

                <div id="site-icon">
                    @Html.ActionLink(siteName, "Index", "Home")
                </div>

                <nav id="menucontainer">
                    <ul id="menu">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            @Html.ActionLink("Chat", "Chat", "Home")</li>
                        <li>
                            <a href="http://source.gibson.cx">Source</a></li>
                        <li>
                            @Html.ActionLink("Blog", "Index", "Blog")</li>
                        <li>
                            @Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </nav>
            </div>

        </div>

        <div class="page">
            <section id="sidebar">
                @RenderSection("Sidebar", required: false)
            </section>
            @if (ViewBag.Notification != null)
            {
                <section id="notifier">
                    @ViewBag.Notification
                </section>	   
            }
            @if (ViewBag.MultipleContainers ?? false)
            {
                @RenderBody()
            }
            else
            {
                <section class="container">
                    @RenderBody()
                </section>
            }
        </div>

    </div>

    <div id="site-footer">
        @RenderSection("Footer", required: false)
        &copy;@DateTime.Now.ToString("yyyy")
        Richard Gibson
        |
        Web, back-end and design by Richard Gibson
    </div>

    @Bundles.RenderScripts()

    <script type="text/javascript" src="http://www.linkedin.com/js/public-profile/widget-os.js"></script>

</body>

</html>
