﻿@{
	ViewBag.Title = "About Us";
}
<h2>About</h2>
<p>
	You can find me online in various places...</p>
<section class="columns">
	<section>
		<h3>Twitter</h3>

		<script src="http://widgets.twimg.com/j/2/widget.js"></script>

		<script>
			new TWTR.Widget({
				version: 2,
				type: 'profile',
				rpp: 4,
				interval: 6000,
				width: 250,
				height: 300,
				theme: {
					shell: {
						background: '#333333',
						color: '#ffffff'
					},
					tweets: {
						background: '#000000',
						color: '#ffffff',
						links: '#4aed05'
					}
				},
				features: {
					scrollbar: false,
					loop: false,
					live: false,
					hashtags: true,
					timestamp: true,
					avatars: false,
					behavior: 'all'
				}
			}).render().setUser('mesonofgib').start();
		</script>

	</section>
	<section>
		<h3>Github</h3>

		<div id="github-badge">
		</div>

		<script type="text/javascript" charset="utf-8">
			GITHUB_USERNAME = "Richiban";
			GITHUB_LIST_LENGTH = 10;
			GITHUB_HEAD = "div"; // e.g. change to "h2" for wordpress sidebars
		</script>

		<script src="@Url.Content("Scripts/github_badge.js")"
			type="text/javascript"></script>

		<h3>LinkedIn</h3>
		<a class="linkedin-profileinsider-inline" href="http://uk.linkedin.com/pub/richard-gibson/30/588/724">
			Richard Gibson</a>
	</section>
</section>