﻿@model MySite.Web.Models.HomeViewModel
@{
	ViewBag.PageTitle = "Home ";
	ViewBag.MultipleContainers = true;
}
@section SideBar
{
	<section>
		<header>
			<h2>Personal Profile</h2>
		</header>

		<table id="profile-table">
			<col style="text-align: left" />
			<col style="text-align: right" />
			<tr>
				<td>Name</td>
				<td>Richard Gibson</td>
			</tr>
			<tr>
				<td>@Html.DisplayNameFor(_ => _.Age)</td>
				<td>@Html.DisplayFor(_ => _.Age)</td>
			</tr>
			<tr>
				<td>@Html.DisplayNameFor(_ => _.Location)</td>
				<td>@Html.DisplayFor(_ => _.Location)</td>
			</tr>
			<tr>
				<td>@Html.DisplayNameFor(_ => _.Profession)</td>
				<td>@Html.DisplayFor(_ => _.Profession)</td>
			</tr>
			<tr>
				<td>@Html.DisplayNameFor(_ => _.Employer)</td>
				<td>@Html.DisplayFor(_ => _.Employer)</td>
			</tr>
		</table>
	</section>
	<section>
		<header>
			<h2>Welcome to @Model.SiteName</h2>
		</header>
		<p>
			@Model.SiteName
			is my personal site that I use to showcase some of my web development abilities,
			to test new technologies, and as a blog.
		</p>
		<h2>Contact me</h2>
		<p>
			You can email me at @Html.DisplayFor(_ => _.EmailAddress)
		</p>
	</section>
}

<section class="container">
	<header>
		<span class="hover-text">Click to show / hide</span>
		<h2>@Html.DisplayNameFor(_ => _.BlogUpdates)</h2>
	</header>
	<div class="collapsible">
		<p>
			Here is some of the latest from my blog.
		</p>
		@foreach (var update in Model.BlogUpdates)
		{
			<section>
				<header>
					@Html.ActionLink( update.Title, "Read", "Blog", routeValues: new { blogId = update.Guid }, htmlAttributes: null )
				</header>
				<article>
					@Html.DisplayFor(_ => update.SummaryText)
				</article>
			</section>
		}
	</div>
	<footer>
		@Html.ActionLink("Go to the blog >> ", "Index", "Blog")
	</footer>
</section>