﻿@model MySite.Models.WordpressPost

<header>
    <h2>@Model.Title</h2>
</header>
    
<section class="metadata">
    <section>
        @if(Model.Tags.Any())
        {
            <text>Tags: </text>
            var tagLinks = Model.Tags.Select( wordpressTag =>
                Html.ActionLink(wordpressTag, "Tag", "Blog", routeValues: new {tags = wordpressTag}, htmlAttributes: null));
                    
            @Html.Raw(String.Join(", ", tagLinks))
        }
    </section>
    <section>
        by @Model.Author, on @String.Format( "{0:g}", Model.CreatedOn )
    </section>
</section>

@Html.DisplayFor( _ => _.Content )

<footer>
    <a href="@Model.Link" target="_blank">Read this post on WordPress.com</a>
</footer>