﻿@{
    ViewBag.PageTitle = "Home ";
    ViewBag.MultipleContainers = true;
    
    Bundles.Reference("~/Scripts/Chat/Index");
}

@section SideBar
{
    <section>
        <header>
            <h2>Chat</h2>
        </header>
    </section>
}

<section class="container">
    <header>
        <h2>Chat</h2>
    </header>
    
    <div>This is a chat room</div>

    <footer>
        @Html.ActionLink("Go to the blog >> ", "Index", "Chat")
    </footer>
</section>