﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var wordpressUrl = "http://richiban.wordpress.com";
}
@section Sidebar
{
    <section>
        <header>
            <h1>Blog </h1>
        </header>
        <p>
            These blog posts are from my Wordpress account.
        </p>
        
        <p>
            You can see more posts either on this site or at <a href="@wordpressUrl">@wordpressUrl</a>
        </p>
        
        <hr/>
        
        <ul class="menu">
            <li>@Html.ActionLink( "Blog home", "Index" )</li>
        </ul>
        @RenderSection("Sidebar", required: false)
    </section>
    
}
@RenderBody()
