﻿@model IEnumerable<MySite.Models.WordpressPost>
    
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Blog/_BlogLayout.cshtml";
    ViewBag.MultipleContainers = true;
}

@foreach ( var post in Model )
{
    <section class="container">
        @Html.Partial("Partials/_BlogPost", post)
    </section>
}

@if ( !Model.Any() )
{
    <h2>Blog</h2>
    <p>No blog posts to display</p>
}