/*
@reference "Site.scss";
*/

/*---------------------------- Blog stuff ---------------------------------*/
.metadata
{
	font-size: small;
	font-style: italic;
}

.comment
{
	display: table;

	&:nth-child(odd)
	{
		background-color: #333;
	}

	> section
	{
		display: table-cell;
		padding: 5px;
	}
}

#comment-form
{
	display: none;
}

.comment-title
{
	font-style: italic;
}

.comment-author
{
	font-weight: bold;
}

.comment-date
{
	font-size: smaller;
}

pre {
	font-family: monospace;
	font-size: 1.5em;
}

dd
{
	margin-left: 1em;
	margin-top: .5em;
	margin-bottom: 1em;
}

dt {
	font-weight: bold;
}