/*
@reference "Site.scss";
*/

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #CCC;

	p
	{
		margin: 2px 12px 10px 10px;
	}
}

legend
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
}

input
{
	&[type="text"],
	&[type="password"]
	{
		width: 200px;
		border: 1px solid #CCC;
	}
}