/*
@reference "Site.scss";
*/

#logindisplay
{
	font-size: 1.1em;
	display: block;
	text-align: right;
	margin: 0 10px;
	color: White;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;

	a
	{
		&:link
		{
			color: white;
			text-decoration: underline;
		}

		&:visited
		{
			color: white;
			text-decoration: underline;
		}

		&:hover
		{
			color: white;
			text-decoration: none;
		}
	}
}
