/*
@reference "Site.scss";
*/

/*---------------------------- Mobile stuff ---------------------------------*/
@media (max-width: 900px) {
	html { }

	#sidebar {
		float: none !important;
		width: auto !important;
	}

	.page {
		width: 100% !important;
	}

	$margin: 10px;
	.page > section, #sidebar {
		margin: {
			left: $margin !important;
			right: $margin !important;
		}
	}

	.animated-box {
		display: none !important;
	}

	ul#menu {
		text-align: center !important;
	}

	ul#menu li {
		text-align: center !important;
	}

	.desktopOnly {
		display: none !important;
	}

	#site-icon {
		text-align: center !important;
	}

	#menucontainer {
		width: 100% !important;
		display: table !important;
	}

	#menucontainer > ul {
		display: table-row !important;
	}

	#menucontainer > ul > li {
		display: table-cell !important;
	}
}