/*
@reference "reset.css";
*/

/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html, body {  height: 100% }

#wrap 
{
    min-height: 100%;
}

.page 
{
    overflow: auto;
    padding-bottom: 50;/* must be same height as the footer */
}

body
{
    background: #161616;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

#masthead
{
    background: url(../Images/masthead-1.png) black;
    color: White;
    
    margin: 0;
    padding: 0;
    
    border-bottom: 1px solid black;
    box-shadow: rgba(0,0,0,0.5) 0 6px 6px;
    
    overflow: hidden;
    width: 100%;
}

#site-icon a
{
    margin-left: 5%;
    
    color: transparent;
    
    text-shadow: #D4D4FF 0 0 2px;
    
    background-color: rgba(0,0,0,0.5);
    
    font-size: 3em;
    font-weight: normal;	

    &:hover
    {
        text-decoration: none;
        color: #D4D4FF;
    }
}

#site-footer
{
    width: 100%;
    color: #999;
    background: #333;
    padding: 10 0;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    
    position: relative;
    height: 30;
    margin-top: -50; /* negative value of footer height */
    clear: both;
}

.page > section
{
    padding: 0 2em;
    margin: 10 25em 30 0;
    background-color: rgb(73, 73, 73);
    
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10; /* box-shadow */
    box-shadow: rgba(0,0,0,0.5) 0 11px 13px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 11px 13px;
    box-shadow: rgba(0,0,0,0.5) 0 11px 13px;
    
    color: White;
}

section.columns
{
    display: table;

    > section
    {
        display: table-cell;
    }
}

.page > section > header
{
    cursor: pointer;
    margin-bottom: 1.5em;

    > h2
    {
        background: rgb(136, 158, 148);
        text-shadow: 0 0 20 black;
    
        display: inline-block;
    
        padding: 0.2em 1em .3em 1em;
    
        box-shadow: #191919 0 0 7px;
    
        cursor: auto;
    
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        > a
        {
            color: inherit;
        }
    }

    > .hover-text
    {
        float: right;
        color: #CCC;
        display: none;
    }
}

.page > section > footer
{
    background: #333333;
    
    border-bottom-left-radius: 10 10;
    border-bottom-right-radius: 10 10;
    
    display: block;
    
    margin: auto -2em 0 -2em;
    padding: 5px;

    &.left
    {
        text-align: left;
    }
    &.right
    {	
        text-align: right;
    }
}

#notifier
{
    padding: 1em 2em;
    margin: 10 25em 30 0;
    background-color: #F7F6D2;
    border: 1px solid #986726;
    
    border-radius: 0;
    
    box-shadow: rgba(0,0,0,0.5) 0 11px 13px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 11px 13px;
    box-shadow: rgba(0,0,0,0.5) 0 11px 13px;
    
    color: Black;
}

#sidebar
{
    background: rgba(18, 18, 18, 0.8);
    
    float: right;
    width: 21em;
    min-height: 10em;
    
    box-shadow: #333 0 0 8px;
    
    border-radius: 0;
    
    margin: 10 auto auto auto;
    padding: 12px;

    section:not(:last-of-type) {
        margin-bottom: 2em;
    }

    h1, h2
    {
        margin-bottom: 1em;
    }
}

/* Page items   
----------------------------------------------------------*/
.page > section article
{
    background: rgba(0, 0, 0, 0.5);
    margin: 1em auto;
    box-shadow: #333 0 0 8px;
    padding: 1em;

    &:first-child
    {
        border-top-left-radius: 5px 5px;
        border-top-right-radius: 5px 5px;
    }

    &:last-child
    {
        border-bottom-left-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
    }
}

.page > section section > article ~ header
{
    display: inline;
    background: rgba(0, 0, 0, 0.5);
    margin: 1em auto;
    box-shadow: #333 0 0 8px;
    padding: 1em;
}

.metadata
{
    background: rgba(0, 0, 0, 0.5);
    margin: 1em auto;
    box-shadow: #333 0 0 8px;
    padding: 12px;
}

a
{
    transition: color .5s;
    -webkit-transition: color .5s;

    &:link
    {
        color: #12eb87;
        text-decoration: none;
        font-weight: bold;
    }
    &:visited
    {
        color: #D4FFFF;
    }
    &:hover
    {
        color: #1d60ff;
        text-decoration: underline;
    }
    &:active
    {
        color: #12eb87;
    }
}

p, ul
{
    margin-bottom: 20;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: White;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    margin-bottom: 0;
    color: #000;
    padding: 0;

    h1
    {
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
        color: #fff;
        border: none;
        line-height: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px !important;
    }
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

#menucontainer
{
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/*---------------------------- Animated boxes ---------------------------------*/

#masthead-inner *
{
    z-index: 200;
    position: relative;
}

.animated-box
{
    height: inherit;
    position: absolute;
    background-image: url(../Images/masthead-1-blur.png);
    top: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    width: 10;
    z-index: 1;
}


/*
    Chat */

.chatMessage {
    padding: 1em;
}

.chatMessage:not(:last-child)
{
    border-bottom: 1pxs solid silver;
}

.chatMessage:nth-child(odd) {
    background: rgba(150, 150, 150, .5);
}

.chatMessageBody {
    
}

.chatMessageHeader {
    float: left;
    display: block;
    width: 25%;
    padding-right: 1em;
}

.chatMessageEntry {
    float: left;
    width: 75%;
}