/*
@reference "reset.css";
*/

/* TAB MENU   
----------------------------------------------------------*/

ul.menu
{
    list-style: none;
}

ul#menu
{
    padding: 0;
    position: relative;
    margin: 0;
    text-align: right;
    
    font-size: 1.2em;

    > li
    {
        display: inline;
        list-style: none;
    
        padding: 2px 8px;
        margin: auto 2px 0 auto;
        border: 1px black solid;
        border-top: 1px #AAA solid;
        border-bottom: 1px #000 solid;
    
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    
        background: black;
        background: gradient( linear, left top, left bottom, from(#888), to(rgba(0, 0, 0, 0.5)) );
        background: -webkit-gradient( linear, left top, left bottom, from(#888), to(rgba(0, 0, 0, 0.5)) );

        transition: background .5s;
        -webkit-transition: background .5s;

        color: white;
        text-shadow: #000 0 0 2px;

        &:hover
        {
            background: gradient( linear, left top, left bottom, from(#333), to(rgba(0, 0, 0, 0.9)) );
            background: -webkit-gradient( linear, left top, left bottom, from(#333), to(rgba(0, 0, 0, 0.9)) );
            border-top: 1px solid #333;
            transition: background .5s;
            -webkit-transition: background .5s;
        }

        a
        {
            color: White;
            text-decoration: none;
        }

        a:active
        {
            background-color: #a6e2a6;
            text-decoration: none;
        }

        &.selected a
        {
            background-color: #fff;
            color: #000;
        }
    }
}